@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #1A1A2E;
    color: white;
}

header {
    background-color: #00F; 
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
}

.navbrand {
    font-family: "Rubik Glitch", sans-serif;
    font-weight: bold;
    font-size: 2rem;

}

.navlinks {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    list-style: none;

}

.navlinks li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 200;
}

main {
    width: 80%;
    margin: 60px auto;

}

.hero {
   display: flex;
   flex-flow: column wrap;
   margin-bottom: 3rem;
}

.hero .titles {
    /* margin: 2.5rem 0 1.5rem; */
    width: 70%;
    margin: 3.5rem auto 2rem;
    text-align: center;
}

.title {
    font-size: 50px;
}

.motto {
    font-weight: 450;
    color: #FFC300;
}

.hero-description {
    text-align: center;
    width: 70%;
    margin: 10px auto 1.5rem;
}

.hero-description p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8rem;
}

.hero img {
    border-radius: 10px;
    width: 100%;
}

#genres {
    margin: 50px 0;
    width: 100%;
    /* border: 2px solid teal; */
}

#genres h3 {
    text-align: center;
    padding: 30px;
    margin: 10px 0;
}

.genre-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   
}

.genre-cards .card {
    width: 22.5%;
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 15px;
    background-color: #212845;

}

/* .genre-cards .card-image {
    width: 100%;
} */

.genre-cards img {
    width: 100%;
    height: 400px;
    border-radius: 15px 15px 0 0;
}

.genre-cards .card-label {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    height: 50px;
    
}

.genre-cards .card-label p {
    padding: 10px;
}

