@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #1A1A2E;
    color: white;
}

header {
    background-color: #00F; 
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
}

.navbrand {
    font-family: "Rubik Glitch", sans-serif;
    font-weight: bold;
    font-size: 2rem;

}

.navlinks {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    list-style: none;

}

.navlinks li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 200;
}

main {
    width: 80%;
    margin: 60px auto;

}

.hero {
   display: flex;
   flex-flow: column wrap;
   margin-bottom: 3rem;
}

.hero .titles {
    /* margin: 2.5rem 0 1.5rem; */
    width: 70%;
    margin: 3.5rem auto 2rem;
    text-align: center;
}

.title {
    font-size: 50px;
}

.motto {
    font-weight: 450;
    color: #FFC300;
}

.hero-description {
    text-align: center;
    width: 70%;
    margin: 10px auto 1.5rem;
}

.hero-description p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8rem;
}

.hero img {
    border-radius: 10px;
    width: 100%;
}

#genres,
#top5 {
    margin: 50px 0;
    width: 100%;
    /* border: 2px solid teal; */
}

#genres h3,
#top5 h3 {
    text-align: center;
    padding: 30px;
    margin: 10px 0;
    font-size: 25px;
}

.genre-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   
}

.genre-cards .card {
    width: 22.5%;
    /* margin: 5px; */
    display: flex;
    flex-flow: column wrap;
    border-radius: 15px;
    background-color: #212845;

}

/* .genre-cards .card-image {
    width: 100%;
} */

.genre-cards img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.genre-cards .card-label {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    height: 50px;
    
}

.genre-cards .card-label p {
    padding: 10px;
}

.top5-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top5-cards .card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #212845;
    gap: 30px;
    margin: 20px 0;
    width: 48%;

}

.top5-cards .card:first-child {
    width: 100%;
}

.top5-cards .card .card-hero,
.top5-cards .card .card-info {
    flex: 0 45%;
}

.top5-cards .card .card-hero {
    flex: 1;
}

.top5-cards .card:first-child .card-hero {
    flex: 0 30%;
}

.top5-cards .card:first-child .card-info {
    flex: 1
}

.top5-cards img {
    width: 100%;
    height: 400px;
    /* object-fit: cover; */
    border-radius: 8px;
    padding: 15px;
    border-radius: 15px;
}

.top5-cards .card:first-child img{
    width: 90%;
}

.top5-cards .card .card-info {
    /* border: 2px solid orangered; */
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.top5-cards .card:first-child .card-info {
    justify-content: flex-start;
    align-items: flex-start;
}

.top5-cards .card-info span{
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    color: #961a74;
    font-size: 25px;
    font-weight: 800;
    width: 28px;
    text-align: center;
}

.top5-cards .card-info .movie-title {
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    text-align: center;

}

.top5-cards .card-info .synopsis {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8rem;
    text-align: justify;
}

.top5-cards .card-info a{
    background-color: #FFC300;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 400;
}

.top5-cards .card-info a:hover{
    background-color:#fff;
    color: #000;
}

/* Footer section */
footer {
    background-color:#212845;
    width:100%;
    bottom: 0;

}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 3rem 0;
    /* border: 2px solid teal; */
    gap: 20px;
}

.main-links,
.affiliates,
.contact {
    flex: 0 28%;
    /* border: 2px solid orangered; */
}

.main-links h3, 
.contact h3 {
    font-size: 25px;
    padding: 5px 0;

}

.affiliates img {
    width: 70px;
}

.main-links li, 
.affiliates li,
.contact li {
    list-style: none;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 300;
}

.contact {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}

.socials {
    padding: 5px 0;
}
.socials li{
    display: inline;
    /* flex-flow: row wrap; */
    padding: 10px;
    font-size: 22px;
}

.newsletter {
    /* border: 2px solid orangered; */
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    justify-content: center;
}

.newsletter p {
    font-size: 20px;
    font-weight: 400;
    color: #FFC300;
}

#newsForm input,
#newsForm button{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

#newsForm button {
    font-weight: bold;
    color: #fff;
    background-color:  #FFC300;
}

.copyright {
    padding: 15px 0;
    /* border: 2px solid teal; */
}

.copyright p{
    font-size: 20px;
    font-weight: 300
}
